.pad {
  padding: 30px;
}

h1 {
  font-size: 4rem;
}

.counter {
  display: inline-flex;
  font-size: 2rem;
}

body {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -60%);
  text-align: center;
}

button {
  display: block;
  margin: auto;
  padding: 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 2.5em;
  outline: none;
  color: black;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 100%;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: rgb(165, 0, 0);
}

button:active {
  background-color: rgb(165, 0, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.golden-btn {
  display: block;
  margin: auto;
  padding: 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 2.5em;
  outline: none;
  color: rgb(120, 50, 5);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: none;
  border-radius: 100%;
  box-shadow: 0 9px #999;
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  background-size: 100% 100%;
  background-position: center;
}

.golden-btn:focus,
.golden-btn:hover {
  box-shadow: 0 9px #999;
}

.golden-btn:active {
  box-shadow: 0 5px #666;
}

.hide {
  display: none;
}
